/*What Shopex Offer!*/
.What-Shopex-Offer {
  padding: 50px 0;
}

.oferr {
  border-bottom: #999999 0.5px solid;
  height: 100%;
}

.ofeer-img {
  position: relative;
  padding: 15px 15px 20px;
  border-radius: 4px;
  height: 80px;
  background-image: url('../img/homepage/services/background-blue.svg');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ofeer-img svg {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
}

.green-icon {
  opacity: 1;
}

.white-icon {
  opacity: 0;
}

.offer-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  transition: all 0.6s ease;
}

.offer-details p {
  padding-bottom: 10px;
  color: #999999;
}

.offer-text {
  padding-bottom: 3px;
  padding-top: 5px;
}

.oferr:hover .ofeer-img {
  background-image: url('../img/homepage/services/background-green.svg');
}

.oferr:hover .ofeer-img .green-icon {
  opacity: 0;
}

.oferr:hover .ofeer-img .white-icon {
  opacity: 1;
}

.oferr:hover {
  border-bottom: #00B207 2px solid;
}
/*Featured Products*/
.Featured-Products {
  padding-bottom: 100px;
}

.h2-feat {
  padding: 20px 0;
}

.Featured-Products .card-title {
  color: #4D4D4D;
}

.leatest-price {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.new-price {
  text-decoration-line: line-through;
  color: #999999;
}

.shopping-pag {
  position: relative;
  padding: 15px;
  border-radius: 50%;
  background-color: #F2F2F2;
  background-size: 30%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-pag svg {
  position: absolute;
  transition: all 0.5s ease;
}

.sale {
  top: 20px;
  left: 40px;
  background-color: #EA4B48;
  border-radius: 4px;
  padding: 5px;
}

.p-icon {
  position: absolute;
  top: 10px;
  right: 7px;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  z-index: 10;
}

.icon-only {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.Featured-Products .card:hover .shopping-pag {
  background-color: #00B207;
}

.Featured-Products .card:hover .shopping-pag .green-icon {
  opacity: 0;
}

.Featured-Products .card:hover .shopping-pag .white-icon {
  opacity: 1;
}

.Featured-Products .card:hover {
  border: #00B207 2px solid;
}

.Featured-Products .card:hover p {
  color: #00B207;
}

.Featured-Products .card:hover .p-icon {
  display: flex;
}
/* top catagouries*/
.top-catagourios {
  padding: 50px 0;
  background-image: url('../img/homepage/hero/BG.webp');
  background-size: cover;
  background-position: center;
}

.catagouris-info {
  border: #999999 0.5px solid;
  border-radius: 10px;
  padding-top: 20px;
  transition: all 0.5s ease;
}
.catagouris-info .offer-text {
    transition: all 0.5s ease;
}

.catagouris-img {
  padding: 15px 15px 20px;
  border-radius: 4px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catagouris-info:hover {
  border: #00B207 2px solid;
  box-shadow: 4px 4px 4px #b6fab9;
}

.catagouris-info:hover .offer-text {
  color: #00B207;
  font-weight: bold;
}
/*why chose us*/
.why-chose-us {
  padding: 60px 0;
  background-image: url('../img/homepage/hero/BG-2.webp');
  background-size: cover;
  background-position: center;
}

.section-title {
  font-weight: bold;
  margin-bottom: 15px;
}



.feature-box p {
  margin-top: 5px;
  font-size: 15px;
  color: #999999;
}

.shop-btn {
  background-color: #00B207;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.shop-btn:hover {
  background-color: #009a06;
}
/*weekly offers*/
.weekly-offers{
  padding: 50px 0;
  background-image: url('../img/public/BG-banner.webp');
  background-size: cover;
  background-position: center;
}
/*Best-seller-products*/
.Best-seller-products{
  padding: 50px 0;
  
}
.Best-seller-products .row{
    flex-wrap: nowrap;
    gap: 5px;
    overflow-x: auto;
}
.Best-seller-products .logo {
    width: calc((100% - 20px) / 5);
}
@media screen and (max-width:991px) {
   .Best-seller-products .logo{
        width: calc((100% - 10px) / 3);
    }
}
@media screen and (max-width:630px) {
   .Best-seller-products .logo{
        width: calc((100% - 5px) / 2);
    }
}
@media screen and (max-width:455px) {
   .Best-seller-products .logo{
        width: 100%;
    }
    .Best-seller-products image {
    width: 100px;
    height: 100px;
}
}

.Best-seller-products .card:hover .shopping-pag {
  background-color: #00B207;
}

.Best-seller-products  .card:hover .shopping-pag .green-icon {
  opacity: 0;
}

.Best-seller-products  .card:hover .shopping-pag .white-icon {
  opacity: 1;
}

.Best-seller-products  .card:hover {
  border: #00B207 2px solid;
}

.Best-seller-products  .card:hover p {
  color: #00B207;
}

.Best-seller-products  .card:hover .p-icon {
  display: flex;
}
/*product-display*/
.product-display{
  padding: 30px 0;
}
.display-product-icon,.display-product-icon .shopping-pag{
display: none;
}
.display-product-icon .shopping-pag{
  border: #999999 solid 1px;
}
.product-display .card:hover .card-text{
  display: none;
}
.product-display .card:hover .display-product-icon{
display: flex;
}
.product-display .card:hover .display-product-icon .shopping-pag{
display: flex;
}
.product-display .card-title {
  color: #4D4D4D;
}
.product-display .card:hover .shopping-pag {
  background-color: #00B207;
}

.product-display .card:hover .shopping-pag .green-icon {
  opacity: 0;
}

.product-display .card:hover .shopping-pag .white-icon {
  opacity: 1;
}

.product-display .card:hover {
  border: #00B207 2px solid;
}

.product-display .card:hover p {
  color: #00B207;
}


/*Latest News*/
.Latest-News{
  padding: 50px 0;
  background-image: url('../img/homepage/least-news/Blog.webp');
  background-size: cover;
  background-position: center; 
} 
.news-icon{
  gap: 0px;
}
.news-icon span{
  font-size: x-small;
  width: 70px;
  padding: 4px 0;
}
.Latest-News .btn {
  color: #00B207;
}
.Latest-News .card:hover  .card-text{
  color: #2c742f;
}
/*customar-says*/
.customar-says{
  padding: 40px 0;
  background-image: url('../img/homepage/customer/Testimonials.webp');
  background-size: cover;
  background-position: center; 
}
.testimonial{
    color: #00B207;
}
.name-def{
  color: #999999;
}
/*our-info*/
.our-info{
  padding: 30px 0;
}
.our-info .card{
  height: 220px;
}
.info-icon {
  padding: 25px;
  background-image: url('../img/homepage/services/background-blue.svg');
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.our-info .phone{
  font-size: 30px;
  color:#00B207;
}
.btn-color{
  color: #fff;
  background-color: #00B207;
}






