.first-nav{
        color: #2B572E;
}
.first-nav .dropdown-menu{
        z-index: 1999;
}
.first-nav nav{
            padding: 2px;

}
.first-nav a{
        color: #2B572E;

}
.adress{
    font-style: normal;
    line-height: inherit;
    margin-bottom: 0;
}
/*footer*/
.foter{
  color: #fff;
  background-color: #1A1A1A;
  background-image: url('../img/public/foooterBG.webp');
  background-size: cover;
 
}
.social-media:hover{
  background-color: #00B207;
  border-radius: 50%;
}
.Rights{
        color: #808080;
}
