.end-form{
        gap: 120px;
}
@media screen and (max-width: 400px) {
.end-form{
        gap: 71px;
}
}
@media screen and (max-width: 355px) {
.end-form{
        gap: 30px;
}
}
.form-control:focus {
  border-color: #00B207;
  box-shadow: 0 0 0 0.25rem rgba(0, 178, 7, 0.25);
}

.btn-primary {
  background-color: #00B207;
  border-color: #00B207;
}

.btn-primary:hover {
  background-color: #009406;
  border-color: #009406;
}
